@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f3f5fc;
  font-family: Inter;
  padding: 20px 10px;
}

.textbox {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  flex: 1;
}
#textbox {
  background-color: #f3f5fc;
  border: none;
  width: 100%;
  min-height: 150px;
  height: 100%;
  color: #0a3871;
  font-size: 24px;
  padding: 10px 5px;
  resize: vertical;
  flex: 1;
}

#textbox::placeholder {
  font-family: Inter;
  font-weight: 300;
  color: #0a3871;
  font-size: 32px;
}

.info {
  color: #868e96;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

#decrypt,
#copy {
  border-radius: 24px;
  border: 1px solid #0a3871;
  padding: 20px;
  color: #0a3871;
  background-color: transparent;
  width: 100%;
}

#encrypt {
  border-radius: 24px;
  border: none;
  background-color: #0a3871;
  color: #f3f5fc;
  padding: 20px;
  width: 100%;
}

#output {
  background-color: white;
  padding: 20px;
  border-radius: 32px;
  box-shadow: #868e96;
  margin-top: 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  h2 {
    color: #343a40;
    text-align: center;
  }
  p {
    color: #495057;
    margin-bottom: 40px;
    text-align: center;
  }
}

.oculto,
.cartoon {
  display: none;
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  body {
    display: flex;
    padding: 40px 100px;
    height: 100vh;
  }

  .container {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 30px;
    flex-direction: row;
  }
  .left {
    width: 100%;
    display: flex;
    flex: 1;
  }

  .right {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex: 1;
  }

  .main {
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  #output {
    max-width: 400px;
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cartoon {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
}

/*
La ley de gravedad siempre me atrae hacia ti
*/
