@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: #f3f5fc;
  font-family: Inter;
}

.header {
  padding: 20px 10px;
}

.main {
  padding: 20px 10px;
}

#textbox {
  background-color: #f3f5fc;
  border: none;
  width: 100%;
  min-height: 150px;

  padding: 10px 5px;
  resize: vertical;
  margin-top: 10px;
}

#textbox::placeholder {
  font-family: Inter;
  font-weight: 300;
  color: #0a3871;
  font-size: 32px;
}

.info {
  color: #868e96;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}

#decrypt {
  border-radius: 24px;
  border: 1px solid #0a3871;
  padding: 20px;
  color: #0a3871;
  background-color: transparent;
  width: 100%;
}

#encrypt {
  border-radius: 24px;
  border: none;
  background-color: #0a3871;
  color: #f3f5fc;
  padding: 20px;
  width: 100%;
}

.output {
  background-color: white;
  padding: 20px 40px;
  text-align: center;
  border-radius: 32px;
  box-shadow: #868e96;
  margin-top: 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  h2 {
    color: #343a40;
  }
  p {
    color: #495057;
  }
}

@media screen and (min-width: 900px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
  }
}
